<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>

        .tax-stat{
            margin-top: 10%;
        }
        h1{
            color: rgb(57, 15, 211);
        }
        .back{
            font-style: italic;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <center>
        <div class='tax-stat' >
            <h1>{{companyName}}</h1> 
            <br>
            <p><b>Tax</b> ৳{{taxToPay}}</p>
            <p><b>Paid Tax</b> ৳{{paidTax}} </p>
            <p><b>Due Tax</b> ৳{{dueTax}}</p>
            <h5><b>Tax Status:</b> {{taxStatus}}</h5>
            
    </div>

    </center>
    

    <div class="container d-flex justify-content-center mt-5">
    <div class="card">
        <div>
            <div class="d-flex pt-3 pl-3">
                <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/%E0%A6%AC%E0%A6%BE%E0%A6%82%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B6_%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%82%E0%A6%95%E0%A7%87%E0%A6%B0_%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A4%E0%A7%80%E0%A6%95.svg/1200px-%E0%A6%AC%E0%A6%BE%E0%A6%82%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B6_%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%82%E0%A6%95%E0%A7%87%E0%A6%B0_%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A4%E0%A7%80%E0%A6%95.svg.png" width="60" height="80" /></div>
                <div class="mt-3 pl-2"><span class="name"><b>{{companyName}}</b></span>
                </div>
            </div>
            <div class="py-2 px-3">
                <div class="first pl-2 d-flex py-2">
                    <div class="form-check"> <input type="radio" name="optradio" class="form-check-input mt-3 dot" id ="full"checked> </div>
                    <div class="border-left pl-2"><span class="head">Total amount due</span>
                        <div><span class="dollar">৳</span><span class="amount">{{dueTax}}   </span></div>
                    </div>
                </div>
            </div>
            <div class="py-2 px-3">
                <div class="second pl-2 d-flex py-2">
                    <div class="form-check"> <input type="radio" name="optradio" class="form-check-input mt-3 dot" id="partial"> </div>
                    <div class="border-left pl-2"><span class="head">Partial amount</span>
                        <div class="d-flex"><span class="dollar">৳</span><input type="number" name="text" class="form-control ml-1" placeholder="0"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between px-3 pt-4 pb-3">
                <div><span class="back">Go back</span></div> <button type="button" class="btn btn-primary button">Pay amount</button>
            </div>
        </div>
    </div>
    
</div>

<script src="/js/paytax.js"></script>
</body>
</html>